#conver {
    box-sizing: content-box;
    width: 550px;
    height: 550px;
    min-height: 550px;
    min-width: 550px;
    padding:1em;
    border: 1px solid #f26135;
    border-radius: 1em;
    overflow-y: auto;
}

#left{
    text-align: left
}

#right{
    text-align: right
}